/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;    
    z-index: 999;
    list-style-type: none;
    clear: left;
    padding: 0;
}

ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    -webkit-appearance: caret;
}

li.token-input-token {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;  
    background-color: #d0efa0;
    display: block;    
}

li.token-input-token p {
    float: left;
}

li.token-input-token span {
    float: right;
}

li.token-input-selected-token {
}

li.token-input-selected-token span {

}

div.token-input-dropdown {
	position: absolute;
    min-width: 250px;
    background-color: #fff;
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 10px;
    position: absolute; 
    background-color: #fafafa;   
	margin-top:11px;
    margin-left: -13px;
    padding:0px;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #d0efa0;
}
